<!doctype html>
<html lang="en">

<head>
    <title>Homepage</title>
    <meta charset ="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta description ="index">

    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div>
        <header>
            <h1>Blockchain Project</h1>
            <h2>Interface</h2>
        </header>
    </div>

    <nav>
        <div class="navbar">
            <ul>
                <li><a class="active" href="{{ url_for('index') }}"><h2>Homepage</h2></a></li>
                <li><a href="{{ url_for('edu') }}"><h2>Something Else</h2></a></li>
            </ul>
        </div>
    </nav>

    <section class="main_content">
        <div>Blockchain Project Description<br> Click on an above link to view a relevant section of the site.</div>
        <br>
        <div>More text to follow</div>
    </section>
    <footer>Copyright &copy; --Some Company</footer>

</body>
</html>
