<!doctype html>
<html lang="en">

<head>
    <title>Education</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta description="Some Other Page">

    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>
    <div>
        <header>
            <h1>Blockchain Project</h1>
            <h2>Interface</h2>
        </header>
    </div>

    <nav>
        <div class="navbar">
            <ul>
                <li><a href="{{ url_for('index') }}"><h2>Homepage</h2></a></li>
                <li><a class="active" href="{{ url_for('edu') }}"><h2>Something Else</h2></a></li>
            </ul>
        </div>
    </nav>

    <section class="education_main_content">

        <div> 
            <h1>Project Information</h1>
        
        </div>
    </section>

    <footer>Copyright &copy; 2021 --Some Company</footer>

</body>
</html>
